.App {
  text-align: center;
  height: 100%;
  width: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Login {
  background-color: #2F4050;
  color: white;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  width: 100vw;
  height: 100vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 17% 66% 17%;
  width: 100vw;
  height: 100vh;
}

.home {
  position: relative;
  background-image: url('./assets/home.jpg');
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%; 
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.topBar {
  background-color:rgb(24, 24, 24);
  width: 100%;
  height: 50px;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: left;
  align-items: center;
}

.Control{
  background-color:rgb(197, 197, 197);
  width: 100%;
  height: 100%;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.Sidebar {
  height: 100%;
  background-color: #2F4050;
}

.SidebarList {
  height: 100%;
  padding: 0;
  width: 100%;
}

.SidebarList .SidebarRow {
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.SidebarList .SidebarRow:hover{
  cursor: pointer;
  background-color: #293846;
}

.SidebarList #active{
  background-color: #293846;
}

.SidebarRow #icon{
  flex: 30%;
  display: grid;
  place-items: center;
}

.SidebarRow #title{
  flex: 70%;
}

.SidebarProfile{
  padding-top: 80%;
  color: white;
}

.StatusModal{
  position: fixed;
  flex-direction: row;
  bottom: 10px;
  right: 10px;
  background-color: #282c34;
  justify-content: center;
  align-items: center;
  color: white;
  width: 210px;
}

.modalText{
  padding-left: 30%;
  padding-right: 30%;
}

.modalbutton{
  align-self: center;
  padding: 10px;
}


.icon-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px;
}

.icon {
  font-size: 36px;
}

button {
  padding: 10px;
  width: fit-content;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.icon {
  position: absolute;
}

.icon-kitchen {
  top: 57%;
  left: 22%;
}

.icon-livingRoom {
  top: 62%;
  left: 64%;
}

.icon-bedroom1 {
  top: 22%;
  left: 33%;
}

.icon-bedroom2 {
  top: 22%;
  left: 64%;
}

.icon-diningRoom {
  top: 59%;
  left: 36%;
}

.icon-frontDoor {
  top: 81%;
  left: 39%;
}

.icon-backDoor {
  top: 7%;
  left: 65%;
}

.icon-bedroomDoor1 {
  top: 37%;
  left: 40%;
}

.icon-bedroomDoor2 {
  top: 37%;
  left: 55%;
}

.switch {
  position: absolute;
}

.switch-kitchen {
  top: 63%;
  left: 21%;
}

.switch-livingRoom {
  top: 67%;
  left: 63%;
}

.switch-bedroom1 {
  top: 27%;
  left: 29%;
}

.switch-bedroom2 {
  top: 27%;
  left: 62%;
}

.switch-diningRoom {
  top: 64%;
  left: 35%;
}


